// image styles
@mixin img-style(
  $w: null,
  $pad: null,
  $disp: block,
  $btm-margin: null,
  $brdr: null
) {
  @include center($w: $w, $pad: $pad, $disp: $disp) {
    margin-bottom: $btm-margin;
    border: $brdr;
  }
}

// Center containers
@mixin center($w: null, $pad: null, $disp: null, $h: null) {
  width: $w;
  height: $h;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  display: $disp;
  padding: $pad;
  @content;
}


// Create a flex container
@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $flx-basis: null,
  $al: null
) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  flex-basis: $flx-basis;
  align-items: $al;
  @content;
}

// Media queries
@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  $sm: map-get($breakpoints, "sm");

  @include error-handler(
    $condition: (
      $value == null
    ),
    $statement: "'#{$break}' is not a valid breakpoint name."
  );

  @if $value < $sm {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @media (min-width: $value) {
      @content;
    }
  }
}

// Error Handler
@mixin error-handler($condition, $statement) {
  @if $condition {
    @error $statement;
  }
}
