// container

.container{
    padding: 20px;
    max-width:1000px;
    margin: auto;
  }

  .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  

  .slideShow{
    width:50%;
    padding: 20px;
      width:25%;
  }