// container

.container {
    position: relative;
}

.searchBox {
    @include flexy($al: center, $just: center, $dir: column);
}
.imageGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;  
    color: #444;
    margin-left: 60px;
}

.imageSlideShow{
    position: absolute;
    top: 25%; 
    left: 20%;
    height: 50%;
    width: 60%;
}

.imageSlideShow{
    z-index: 1000;
}