// input

.searchInput {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0.35em;
    font-size: 16px;
    height: auto;
    padding: 15px;
    background-color: #e8eeef;
    color: #8a97a0;
    margin-bottom: 20px;
    margin-top: 30px; 
    width: 20%;
}